[user]
	name = Andreas Jaggi
	email = x-way@waterwave.ch
[github]
	user = x-way
[color]
	diff = auto
	status = auto
	branch = auto
	grep = auto
	interactive = auto
	showbranch = auto
	ui = auto
[alias]
	# remove double git typo, https://jeffkreeftmeijer.com/git-git/
	git = !git
	co = checkout
	l = log --oneline --decorate --graph
	cp = cherry-pick
	sh = show
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
[push]
	default = simple
[pull]
	# Default to rebasing on pulls
	rebase = true
[include]
	# for passwords / credentials etc.
	path = ~/.gitconfig.local
[status]
	color = auto
[diff]
	colorMoved = dimmed-zebra
	# use more human-friendly diffs (similar to vimdiff)
	indentHeuristic = true
	# Use the slower but better patience diff algorithm
	algorithm = patience
	# Use new diff algorithm to make e.g. function diffs look better.
	compactionHeuristic = true
[commit]
	# show diff in commit message edit window
	# https://jdhao.github.io/2021/07/24/git_show_diff_when_commiting/
	verbose = true
[init]
	defaultBranch = main
