[user]
	name = Andreas Jaggi
	email = x-way@waterwave.ch
[color]
	diff = auto
	status = auto
	branch = auto
	grep = auto
	interactive = auto
	showbranch = auto
	ui = auto
[alias]
	# remove double git typo, https://jeffkreeftmeijer.com/git-git/
	git = !git
	co = checkout
	l = log --oneline --decorate --graph
	cp = cherry-pick
	sh = show
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
[push]
	default = simple
[include]
	# for passwords / credentials etc.
	path = ~/.gitconfig.local
[status]
	color = auto
[diff]
	colorMoved = dimmed-zebra
