[user]
	name = Andreas Jaggi
	email = x-way@waterwave.ch
[color]
	diff = auto
	status = auto
	branch = auto
	grep = auto
	interactive = auto
	showbranch = auto
	ui = auto
[alias]
	co = checkout
	l = log --oneline --decorate --graph
	cp = cherry-pick
	sh = show
[push]
	default = simple
[include]
	# for passwords / credentials etc.
	path = ~/.gitconfig.local
